@import "../../consts/block-mixins.scss";

.review-form {
  @include to-center_column();
  width: 350px;
  height: 500px;
  border-radius: 10px;
  background-color: $form-color;
  @include normal-text();
  .review-form__input-block {
    position: relative;
    @include to-center_column();
    width: 100%;
    padding: 2%;
    .review-form__text {
      width: 100%;
      height: 170px;
      border-radius: 10px;
      background-color: $form-color;
      @include input-text();
      margin-top: 10px;
      padding-left: 15px;
      margin-bottom: 10px;
    }
    .review-form__valid-message {
      position: absolute;
      top: 45px;
      left: 20px;
      @include warning-text();
    }
  }
  .review-form__button {
    padding: 20px;
  }
}
