@import "./consts.scss";
@import "./text-mixins.scss";

// ------mixins for blocks
@mixin to-center_row($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin to-center_column($align: center, $justify: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}

@mixin button(
  $border: 1px solid $dark-text-color,
  $color: $dark-text-color,
  $width: 210px,
  $height: 55px,
  $background: $light-background-color
) {
  border: $border;
  border-radius: 10px;
  @include normal-text();
  width: $width;
  height: $height;
  background-color: $background;
  transition: $transition;
}
@mixin gridAutoFill(
  $justify: center,
  $align: center,
  $template-cols: repeat(auto-fill, minmax(250px, 1fr)),
  $gap: 10px
) {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: $template-cols;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// ------special block decoration
@mixin list-without-dots {
  list-style-type: none;
}
@mixin link-list($color: $dark-text-color) {
  text-decoration: none;
  color: $color;
  padding: 0 16px;
}
