@import "../../consts/block-mixins.scss";

.menu-form {
  @include to-center_column();
  width: 100%;
  .menu-form__places-list {
    height: calc(100vh - 250px);
  overflow-y: scroll;
    width: 100%;
    // @include to-center_column();
    @include list-without-dots();
    .menu-form__places-item {
      width: 100%;
      @include to-center_row($justify: space-between);
      padding: 5px 4%;
    }
    .menu-form__places-item__text {
      @include normal-text();
    }
  }
  .menu-form__details{
    width: 100%;
    overflow-y: scroll;
  }
}
