@import "../../consts/block-mixins.scss";

.add-popup {
  @include to-center_column($align: flex-start);
  padding: 1%;
  width: 200px;
  .add-popup__input {
    height: 35px;
    @include input-text();
    margin: 10px auto;
    border: $borders-default;
    padding-left: 10px;
    border-radius: 10px;
  }
  .add-popup__label {
    @include input-text();
    margin: 0;
  }
  .add-popup__auth-message {
    @include warning-text();
  }
  .add-popup__add-button{
    align-self: center;
  }
}
