@import "../../consts/block-mixins.scss";

.map-block {
    position: fixed;
    top: 100px;
    box-sizing: border-box;
    @include to-center_column();
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 0;

}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    width: 100%;
    height: 100%;
  }